.mw-translate-smg-change {
	padding-bottom: 1em;
	margin-bottom: 2em;
}

.mw-translate-smg-change label {
	padding: 0;
	margin: 0;
	margin-right: 1.1em;
	font-size: 0.95em;
}

.mw-translate-smg-change .diff-title td {
	padding: 0.75em 0.5em;
}

.mw-translate-smg-change input[ type='radio' ] {
	margin: 0 2px;
	margin-top: -1px;
	vertical-align: middle;
}

.mw-translate-smg-submit {
	font-size: 5em;
	margin: auto;
	width: 80%;
	display: block;
}

.diff-lineno {
	display: none;
}

.mw-translate-smg-header td {
	font-size: 200%;
	font-weight: bold;
}
