.mw-pt-languages {
	background-color: #f8f9fa;
	display: table;
	border: 1px solid #a2a9b1;
	box-sizing: border-box;
	line-height: 1.2;
	width: 100%;
	clear: both;
	overflow: auto;
}

/* Visually merge languages box border into translate box where available */
.mw-pt-translate-header ~ .mw-parser-output .mw-pt-languages {
	margin-top: -1px;
}

.mw-pt-languages-label {
	background-color: #eaecf0;
	display: table-cell;
	/* Given `white-space: nowrap` above, label never shrinks underneath textual content. */
	width: 1%;
	padding: 0.5em;
	font-weight: bold;
	white-space: nowrap;
}

.mw-pt-languages-list {
	display: table-cell;
	padding: 0.5em;
}

.mw-pt-languages-list a {
	white-space: nowrap;
}

.mw-pt-languages-selected,
.mw-pt-languages-ui {
	font-weight: bold;
}

.mw-pt-progress {
	padding-right: 11px;
	background: transparent right center no-repeat;
	background-size: 9px 9px;
}

/* Need very high specificity to override skin styles in the sidebar */
#mw-panel .portal .body .mw-pt-progress--none a,
.interwiki-x-pagetranslation.mw-pt-progress--none a {
	color: #ba0000;
}

#mw-panel .portal .body .mw-pt-progress--none a:visited,
.interwiki-x-pagetranslation.mw-pt-progress--none a:visited {
	color: #a55858;
}

.mw-pt-progress--stub {
	background-image: url( ../images/prog-1.png );
}

.mw-pt-progress--low {
	background-image: url( ../images/prog-2.png );
}

.mw-pt-progress--med {
	background-image: url( ../images/prog-3.png );
}

.mw-pt-progress--high {
	background-image: url( ../images/prog-4.png );
}

.mw-pt-progress--complete {
	background-image: url( ../images/prog-5.png );
}
